* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: Merriweather, Georgia, serif;
    font-size: 16px;
  color: #333;
  background: #fff;
}
header{
    margin: 0 auto;
}