.callout {
    maximum-width: 600px;
    margin: 0 auto;
    border: ;
    padding: ;
    background-color: darkblue;
    color: ;
	text color: ;
}

.callout img {
    position: ;
    margin: ; 
    border: ;
    padding
	
}

blockquote {
	
}

cite {
	
}