.callout {
    max-width: 500px;
    margin: 30px;
    border: ;
    padding: 30px;
    background-color: rgba(22,65,124);
	color: white;
}

.callout img {
    position: relative; ;
    top:auto;
    left: -auto; 
    margin: 0; 
    border: black solid 2px;
    padding: 3px;
    background-color: lightgray;
    width: 100px ;
    height: 100px;
}

blockquote {
	margin: ;
}

cite {
	display: block;
    border-top: 1px dotted white;
    top-padding: ;
    text-alignment: ;
    font-size: ;
}