.callout {
    max-width: 400px;
    margin: 5px;
    border: 0px;
    padding: 10px;
    background-color: rgba(22,65,124);
	color: white;
}

.callout img {
    position: fixed; 
    margin: 5px 40px 50px 290px; 
    border: rgba(22,65,124) 20px;
    padding: 3px;
    background-color: lightgray;
    width: 100px ;
    height: 100px;
}

blockquote {
	margin: auto auto auto 1px;
}

cite {
	display: block;
    border-top: 1px dotted white;
    padding-top: 1%;
    text-align: right;
    font-size: smaller;
}