:root {
    --primary-color: #FC9F1C;
    --secondary-color: #FFE77C;
    --accent1-color: #025595;
    --accent2-color: #A6DEF6;
    --heading-font: "Play", sans-serif;
    --body-font: "Raleway", sans-serif;
}

header {
    margin: 1rem auto;
    background-color: #fff;
    color: var(--secondary-color);
    display: grid;
	grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    
}
header img {
    width: 100px;
    height: auto;
    margin-left: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
 header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
p, section, article{
    margin: 16px;
    padding: 8px;
}
.History {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 1px;
}
.History h2{
    grid-column: 1/4;
    text-align: center;

}
.History img{
    width: 100%;
    height: auto;
}
.Adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 15px;
}
.Adventure h2{
    grid-column: 1/6;
    text-align: center;
}
.Adventure img{
    width: 100%;
    height: auto;
}
figcaption {
    text-align: center;
}
nav {
    margin: 16px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
	flex: 1 1 auto;
    
}
nav a {
    text-decoration: none;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}
nav a:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.socialmedia a{
    text-decoration: none;
}
.socialmedia {
    justify-content: right;
    gap: 10px;
}

.herodiv{
    position: relative;
    margin: 1em auto;
    
}

.herodiv img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #ffffff;

}

.herodiv article{
    position: absolute;
    top: 150px;
    left: 5px;
    width: 800px;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #ffffff;
}
.herodiv article img{
    float: right;
    width: 230px;
    padding: 8px;
}
footer {
    display: flex;
    
}
footer p {
    margin: 19px;
    padding: 8px;
    
}
.rectangle-3 {
	width: 840px;
	height: 159px;
	padding: 8px 8px 8px 8px;
	background:var(--accent1-color);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	border-radius: 3px 3px 3px 3px;
    
}
.header-3 {
    width: 463px;
	height: 36px;
	color: #FFFFFF;
	font-family: var(--heading-font);
	font-weight: 700;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
}
.we-love-questions-and-feedback-and-we-re-always- {
	width: 418px;
	height: 44px;
	color: #FFFFFF;
	font-family: var(--body-font);
	font-weight: 400;
	font-size: 13px;
	line-height: 1.4;
	text-align: center;
}
.rectangle-4 {
	width: 840px;
	height: 348px;
	background: #FFFFFF;
	border-radius: 3px 3px 3px 3px;
    display: flex;
    align-items: flex-start;
}
.column-text{
    flex:1;
    padding: 20px;
    align-items: center;
}
.column-text .block{
    flex:1;
}

.column-map {
    flex: 1;
    text-align: right;;
}

.column-map iframe {
	max-width: 463px;
	height: 348px;
	background: #00000000;
    
}


.header-14 {
	width: 223px;
	color: #025595;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
    text-align: left;
    margin-top: 34px;
}
.jackson-wyoming-ee-uu- {
    width: 203px;
    height: 35px;
    margin-top: 35px;
	color: #025595;
	font-family: "Raleway";
	font-weight: 600;
	font-size: 16px;
	line-height: 1.1;
	text-align: left;
    padding-right: 10px;
}

.circle-4 {
	width: 18px;
	height: 18px;
	background: #EDF0F4;
}
.address-phone-and-email {
    flex: 1;
	width: 164px;
	height: 120px;
	color: #025595;
	font-family: "Raleway";
	font-weight: 400;
	font-size: 11px;
	line-height: 1.5;
	text-align: left;
}
.location-on-icon-2 {
	width: 6px;
	height: 8px;
	background: #9FAFC1;
}
.circle-5 {
	width: 18px;
	height: 18px;
	background: #EDF0F4;
}
.mail-outline-icon-2 {
	width: 8px;
	height: 6px;
	background: #9FAFC1;
}