:root {
    --primary-color: FFE77C;
    --secondary-color: 025595;
    --accent1-color: FC9F1C;
    --accent2-color: A6DEF6;
    --heading-font: "Play", sans-serif;
    --body-font: "Raleway", sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
*{
    
}